.header {
    display: flex;
    flex-direction: column;
    height: 15vh;
}

.menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: #36B5D9;
    color: white;
}
.logo {
    order: 0;
    flex-grow: 1;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    color: white;

}
.item {
    order: 1;
    display: block;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.logout-button {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
}
