.single-user-view {
    width: 100vw;
    height: 50vh;
    margin: 0 auto;

}

.single-item-header {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
;
}

.single-item-main {
    display: flex;
    flex-direction: column;
    /*height: 50vh;*/
    margin: 10px;
    padding: 10px;
    border-radius: 2px;

}
